{{- if .Values.frontend.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "keep.fullname" . }}-frontend
  labels:
    {{- include "keep.labels" . | nindent 4 }}
    keep-component: frontend
spec:
  {{- if not .Values.frontend.autoscaling.enabled }}
  replicas: {{ .Values.frontend.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "keep.selectorLabels" . | nindent 6 }}
      keep-component: frontend
  template:
    metadata:
      {{- with .Values.frontend.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "keep.selectorLabels" . | nindent 8 }}
        keep-component: frontend
    spec:
      {{- with .Values.frontend.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "keep.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.frontend.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.frontend.securityContext | nindent 12 }}
          image: "{{ .Values.frontend.image.repository }}:{{ .Values.frontend.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.frontend.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.frontend.service.port }}
              protocol: TCP
          env:
            - name: PUSHER_HOST
              value: {{ include "keep.pusherHost" . | quote }}
            - name: API_URL_CLIENT
              value: {{ include "keep.apiUrlClient" . | quote }}
            - name: API_URL
              value: {{ include "keep.apiUrl" . | quote }}
            - name: NEXTAUTH_URL
              value: {{ include "keep.nextAuthUrl" . | quote }}
            {{- range .Values.frontend.env }}
            {{- if and 
                  (ne .name "PUSHER_HOST") 
                  (ne .name "API_URL_CLIENT") 
                  (ne .name "API_URL") 
                  (ne .name "NEXTAUTH_URL") }}
            - name: {{ .name }}
              value: {{ .value | quote }}
            {{- end }}
            {{- end }}
          volumeMounts:
            - name: state-volume
              mountPath: /state
              readOnly: false
          {{- if .Values.frontend.healthCheck.enabled }}
          {{- toYaml .Values.frontend.healthCheck.probes | nindent 10 }}
          {{- end }}
          resources:
            {{- toYaml .Values.frontend.resources | nindent 12 }}
      {{- if .Values.frontend.extraContainers -}}
      {{ toYaml .Values.frontend.extraContainers | nindent 8 }}
      {{- end }}
      {{- with .Values.frontend.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.frontend.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.frontend.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: state-volume
          emptyDir: {}
{{- end }}