{{- if .Values.frontend.enabled -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "keep.fullname" . }}-frontend
  labels:
    {{- include "keep.labels" . | nindent 4 }}
    keep-component: frontend-service
spec:
  type: {{ .Values.frontend.service.type }}
  ports:
    - port: {{ .Values.frontend.service.port }}
      targetPort: http
      protocol: TCP
      name: http
      {{ if eq .Values.frontend.service.type "NodePort" }}
      nodePort: {{ .Values.frontend.service.nodePort }}
      {{- end }}
  selector:
    {{- include "keep.selectorLabels" . | nindent 4 }}
    keep-component: frontend
{{- end}}
